/* Everything! */

:root {
    --common-white: rgb(242, 238, 228);
    --border-brown: rgb(101, 67, 33);
    --common-green: rgb(128, 163, 86);
}

body {
    font-family: 'Open Sans', sans-serif; 
   margin: 0;
   padding: 0;
}

header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 163, 86);
    padding: 0.5rem 2rem;
}

header img {
    height: 70px;
}

nav a {
    padding: 1rem;
    margin-left: 2rem;
    font-size: 20px;
    
    text-decoration: none;
    color: var(--common-white);
}

nav a:hover {
    background-color: rgb(73 80 95);
}

/* Home Page */

.mainPageHero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    aspect-ratio: 16/7;
    background: url('images/HeroImage.png');
    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 7.5%;

    & > h1 {
        font-size: 65px;
        font-weight: bold;
        color: var(--common-white);
        -webkit-text-stroke: 2px var(--border-brown);
    }

    & > p {
        font-size: 35px;
        color: var(--common-white);
        -webkit-text-stroke: 1px var(--border-brown);
    }

    & > a {
        margin-top: 1rem;
        padding: 2% 10%;
        font-size: 25px;
        background-color: var(--common-white);
        border: 2px solid var(--border-brown);
        color: black;
        text-decoration: none;
        border-radius: 50px;
    }

    & > a:hover {
        background-color: rgb(220, 220, 220);
    }
}

.benefits {
    display: grid;
    grid-template: 0.5fr 0.5fr / 1fr 1fr;
    text-align: center;
    background-color: var(--common-green);

    & > img {
        grid-row: span 2;
        width: 100%;
        height: auto;
        margin-right: 2rem;
    }

    & > h2 {
        grid-column-start: 2;
        grid-row-start: 1;
        font-size: 25px;
        font-weight: 400;
        
        margin-bottom: 1rem;
        color: var(--common-white);
    }

    & > ul {
        grid-column-start: 2;
        grid-row-start: 2;
        text-align: left;
        font-size: 20px;
        line-height: 1.5;
        padding-left: 2rem;
        color: var(--common-white);
    }
}
