/* Everything! */

:root {
    --common-white: rgb(242, 238, 228);
    --border-brown: rgb(101, 67, 33);
    --common-green: rgb(128, 163, 86);
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--common-white);
}

header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 163, 86);
    padding: 0.5rem 2rem;
}

header img {
    height: 70px;
}

nav a {
    padding: 1rem;
    margin-left: 2rem;
    font-size: 20px;

    text-decoration: none;
    color: var(--common-white);;
}

nav a:hover {
    text-decoration: underline;
}

/* Home Page */

.mainPage > *:not(header) {
    border-bottom: #42522D 8px solid;
}

.mainPageHero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    aspect-ratio: 16/7;
    background: url("images/HeroImage.webp");
    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 7.5%;

    & > h1 {
        font-size: 65px;
        font-weight: bold;
        color: var(--common-white);
        -webkit-text-stroke: 2px var(--border-brown);
    }

    & > p {
        font-size: 35px;
        color: var(--common-white);
        -webkit-text-stroke: 1px var(--border-brown);
    }

    & > a {
        margin-top: 1rem;
        padding: 2% 10%;
        font-size: 25px;
        background-color: var(--common-white);
        border: 2px solid var(--border-brown);
        color: black;
        text-decoration: none;
        border-radius: 50px;
    }

    & > a:hover {
        background-color: rgb(220, 220, 220);
    }
}

.benefits {
    display: grid;
    grid-template: auto / 1fr 1fr;
    text-align: center;
    background-color: var(--common-green);

    & > img {
        grid-row: span 2;
        width: 100%;
        margin-right: 2rem;
    }

    & > h2 {
        width: 100%;
        height: auto;
        grid-column-start: 2;
        grid-row-start: 1;
        font-size: 3vw;
        font-weight: 400;
        
        margin-bottom: 2vw;
        margin-left: 1vw;
        margin-right: 1vw;
        color: var(--common-white);
    }

    & > ul {
        width: 100%;
        height: auto;
        grid-column-start: 2;
        grid-row-start: 2;
        text-align: left;
        font-size: 2vw;

        margin-left: 1vw;
        margin-right: 1vw;
        color: var(--common-white);
        & > li:not(:last-child) {
            margin-bottom: 5vh;
        }
    }
}

.howItWorks {
    background-color: #84A55B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > h2 {
        font-size: 60px;
        font-weight: 400;
        color: var(--common-white);
    }
}

.howItWorks .gridSteps {
    --border-seperation: 3px solid black;

    align-self: stretch;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    text-align: center;
    flex-wrap: wrap;
    padding: 5% 10%;

    & > section {
        display: grid;
        grid-template-rows: auto 50px;
        place-items: center;

        & > h3 {
            font-weight: 100;
            font-size: 30px;
            margin-bottom: 2rem;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            line-height: 70px;
            text-align: center;

            background-color: var(--common-white);
            border: 4px solid var(--border-brown);
         
        }
        & > h4 {
            font-size: 25px;
            font-weight: 500;
            color: var(--common-white);
        }
    }

    & > section:first-child {
        border-bottom: var(--border-seperation);
        border-right: var(--border-seperation);
    }

    & > section:nth-child(2) {
        border-bottom: var(--border-seperation);
        border-left: var(--border-seperation);
    }

    & > section:nth-child(3) {
        border-top: var(--border-seperation);
        border-right: var(--border-seperation);
    }

    & > section:last-child {
        border-top: var(--border-seperation);
        border-left: var(--border-seperation);
    }
}

.ourMotive {
    display: grid;
    grid-template: auto / 1fr 1fr;
    background-color: var(--common-green);

    &>img {
        order: 2;
        grid-column: 2;
        width: 100%;
        margin-right: 2rem;
    }


    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        text-indent: 5%;
        margin: 2% 5%;

        &>h2 {
            margin: 3% 0%;
            text-indent: 0%;
            width: 100%;
            height: auto;
            font-size: 3.75vw;
            font-weight: 400;
            color: var(--common-white);
        }

        &>p{
            margin-left: 3%;
            width: 100%;
            height: auto;
            font-size: 1.75vw;
            font-weight: 400;

            color: var(--common-white);
        }

        &>p:last-of-type {
            margin-bottom: 20px;
        }

        &>a {
            margin-left: 3%;
            padding: 1.5% 7.5%;

            text-indent: 0%;
            text-wrap: nowrap;
            font-size: 25px;
            background-color: var(--common-white);
            border: 3px solid var(--border-brown);
            color: black;
            text-decoration: none;
            border-radius: 20px;
        }

        &>a:hover {
            background-color: rgb(220, 220, 220);
        }
    }
}

.contactUs {
    background-color: #526639;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;

    & > h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        color: var(--common-white);
        margin-bottom: 2rem;
    }

    & > a {
        padding: 1.5% 5%;
        font-size: 20px;
        background-color: var(--common-white);
        border: 2px solid black;
        color: black;
        text-decoration: none;
        border-radius: 15px;

        margin-bottom: 50px;
    }

    & > a:hover {
        background-color: rgb(220, 220, 220);
    }

    & > p {
        font-size: 20px;
        color: var(--common-white);
        text-align: center;
    }

    & > form {
        display: flex;
        justify-content: center;

        & > input { 
            font-size: 18px;
            padding: 3px;
            padding-right: 10vw;
            border: 0px
        }

        & > button {
            padding: 0% 5%;
            background-color: #84A55B;
            border: 0px;
        }
    }
}

/* Sign in Page */

.signInPage > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    & > h1 {
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 3rem;
    }

    & > section > a {
        color: black;
        font-size: 20px;

        &::before {
            content: 'or ';
            text-decoration: none;
        }
    }

    & > section > form {
        border-radius: 20px;
        background-color: #84A55B;
        justify-self: center; /* This looks redundant but for some reason it fixes the padding causing it to be offset*/
        padding: 7.5%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
        width: 300px;
        margin-bottom: 20px;

        & > input {
            padding: 3%;
            border: 0px;
            border-radius: 15px;
            color: var(--common-white);
            margin-bottom: 20px;
            font-size: 17.5px;
        }

        & > button:first-of-type {
            border: 1px solid black;
            border-radius: 10px;
            padding: 4%;
            font-size: 16px;

            &::after {
                /* Google Image would be here */
                content: '';
            }
        }

        & > button:last-of-type {
            border: 0px;
            border-radius: 20px;
            padding: 4%;
            font-size: 17.5px
        }
    }
}

/* Create an Account Page */

.accountCreatePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    & > h1 {
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 3rem;
    }

    & > section > a {
        color: black;
        font-size: 20px;

        &::before {
            content: 'Return to ';
            text-decoration: none;
        }
    }

    & > section > form {
        border-radius: 20px;
        background-color: #84A55B;
        justify-self: center; /* This looks redundant but for some reason it fixes the padding causing it to be offset*/
        padding: 7.5%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
        width: 300px;
        margin-bottom: 20px;

        & > input {
            padding: 3%;
            border: 0px;
            border-radius: 15px;
            color: var(--common-white);
            margin-bottom: 20px;
            font-size: 17.5px;
        }

        & > button {
            border: 0px;
            border-radius: 20px;
            padding: 4%;
            font-size: 17.5px
        }
    }
}

/* Select Profile Page */

body.petProfilesPage {
    background-color: #80A356;
}

.newPetOverlay {
    display: none;
    position: fixed;

    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.715);
    border-radius: 5px;

    &>form {
        background-color: var(--common-white);
        border: 3px solid var(--border-brown);
        border-radius: 15px;

        height: 60%;

        margin: 16%;
        padding: 20px;

        &>.inputs {
            display: grid;
            grid-template: 1fr 1fr 0.5fr/ 1fr 1fr 1fr 1fr;
            row-gap: 20px;

            margin-top: 30px;

            &>h2 {
                line-height: 10px;
                font-size: 40px;
                font-weight: 400;
            }

            &>div {
                grid-column: span 2;
                &>input {
                    width: 80%;
                    height: 40%;
                    border: 1px solid black;
                    border-radius: 5px;
                    background-color: #D9D9D9;
                }
            }

            &>button {
                margin-bottom: 0.5rem;
                margin-right: 5%;
                margin-top: 2rem;
                padding: 0.75% 10%;

                font-size: 20px;
                background-color: var(--common-green);
                border: 0px;
                color: var(--common-white);
                text-decoration: none;
                border-radius: 10px;
            }
        }
    }
}

.cartoonHero {
    background: url(Images/cartoonHero.svg) 50%;
    width: 100%;
    height: 285px;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    & > h1 {
        position: absolute;
        top: 250px;
        z-index: 0;

        font-size: 50px;
        font-weight: 500;
        line-height: 0px;
        color: var(--common-white);
        background-color: #80A356;
        padding: 50px;
        border-radius: 20px;
    }
}

.cardGrid {
    display: grid;
    grid-template: 300px / repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    row-gap: 20px;

    margin-top: 20px;

    & > * {
        z-index: 1;
        margin: 10px;
        color: black;
        text-decoration: none;
    }

    & > .brunoCard {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 5px solid var(--border-brown);
        border-radius: 20px;
        text-align: center;

        background-color: var(--common-white);

        & > * {
            margin: 0%;
            padding: 0%;
            line-height: 0; /* To reduce space between image and text */
        }

        &::before {
            content: '';
            background: url(Images/brunoProfile.jpg) center / cover no-repeat;
            margin-top: 15px;

            border-radius: 50%;
            aspect-ratio: 1/1;
            width: 80px;
            border: 4px solid var(--border-brown);
        }

        & > div > h3 {
            font-size: 30px;
        }

        & > div > .breed {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
            color: gray;
        }

        & > div > p:last-child {
            line-height: 20px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &::before {
                content: '';
                background: url(Images/upcoming-icon.svg) center / contain no-repeat;
                aspect-ratio: 1/1;
                width: 50px;
                height: auto;
            }
        }
    }

    & > .addNewPet {
        --outline-color: rgba(255, 255, 255, 0.522);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;
        border: 5px solid var(--outline-color);
        color:var(--outline-color);
        background-color: rgba(255, 255, 255, 0);

        font-size: 30px;

        &::before {
            content: '+';
            font-size: 80px;
            color: rgba(40, 40, 40, 0.797);
            background-color: var(--outline-color);
            border-radius: 50%;
            padding: 0% 22.5px;

            align-self: center;
            justify-self: center;
        }
    }
}

/* Single Pet Profile Page */

body.singlePetProfilePage {
    background-color: #80A356;
}

.profileTag {
    display: flex;
    justify-content: flex-start;
    margin: 0% 5%;
    z-index: 1;

    position: absolute;
    top: 290px;

    & > div {
        position: relative;
        z-index: -1;
        margin-left: -120px;
        color: var(--common-white);
        

        & > h2 {
            font-size: 35px;
            font-weight: 500;
            margin-bottom: 0rem;

            background-color: var(--border-brown);
            border-radius: 15px;
            padding: 0% 10px 5% 100px;
        }

        & > p:first-of-type {
            position: absolute;
            text-wrap: nowrap;
            top: 75px;

            font-size: 25px;
            margin-top: 0%;
            margin-bottom: 0rem;

            background-color: var(--border-brown);
            border-radius: 15px;
            padding: 1% 10px 1% 100px;
        }

        & > p:last-of-type {
            font-size: 25px;
            color: var(--common-white);
            padding-left: 100px;
        }
    }

    &::before {
        content: '';
        background: url(Images/brunoProfile.jpg) center / cover no-repeat;
        margin-right: 20px;

        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 150px;
        border: 10px solid var(--border-brown);
    }
}

.dataSection {
    margin-top: 125px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;

    &>.recentActivity,
    &>.upcomingEvents {
        background-color: var(--common-white);
        border: 2px solid var(--border-brown);
        border-radius: 20px;
        padding: 2%;
        margin: 5%;
        width: 42.5vw;
        min-height: 400px;

        &>h2 {
            margin: 5%;
            font-weight: 400;
            font-size: 40px;
            color: var(--border-brown);
        }

        &>.eventObject {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100px;
            margin: 5%;
            border: 2px solid var(--border-brown);
            border-radius: 20px;

            box-shadow: 0px 2px 5px grey;

            &>img {
                aspect-ratio: 1/1;
                width: 70px;
                height: 70px;
                margin: 20px;
            }

            &>.textItems {
                display: flex;
                flex-direction: column;
                justify-content: center;

                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &>h4 {
                    margin: 0%;
                    font-size: 20px;
                    font-weight: 600;
                }

                &>p {
                    margin: 0%;
                    font-size: 15px;
                }

            }
        }
    }

    &>.upcomingEvents {
        display: flex;
        flex-direction: column;
    }

    &>.upcomingEvents .links {
        margin: 10% 5%;
        margin-top: 70%;

        display: grid;
        column-gap: 3px;
        grid-template-columns: 85% 50px;
        justify-content: space-between;

        & * {
            text-decoration: none;
            color: var(--common-white);
            font-size: 30px;

            background-color: var(--common-green);
            border-radius: 10px;
            border: 2px solid var(--border-brown);
        }

        & :first-of-type {
            text-align: center;
            padding: 1%;
            text-wrap: nowrap;
        }

        & :last-child {
            padding: 1% 15px;
            line-height: 50px;
        }
    }

    &>.recentActivity {
        grid-column: 1;
        grid-row: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>a {
            display: flex;
            justify-content: center;
            /* That flex is just to center the button */

            margin: 10% 5%;
            text-decoration: none;
            color: var(--common-white);
            font-size: 30px;

            background-color: var(--common-green);
            border-radius: 10px;
            border: 2px solid var(--border-brown);

            padding: 1% 20%;
            text-wrap: nowrap;
        }
    }

    &>.graphs {
        grid-column: 2;
        grid-row: span 2;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &>.graphObject {
            padding: 20px;
            padding-bottom: 85px;
            width: 35vw;
            height: 15%;

            background-color: var(--common-white);
            border-radius: 20px;
            border: 4px solid var(--border-brown);

            &>h3 {
                color: var(--border-brown);
                font-weight: 300;
                font-size: 20px;
            }

        }

        &>.addNewGraph {
            padding: 2rem 4rem;

            --outline-color: rgba(255, 255, 255, 0.522);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 20px;
            border: 5px solid var(--outline-color);
            color: var(--outline-color);
            background-color: rgba(255, 255, 255, 0);

            font-size: 30px;

            &::before {
                content: '+';
                font-size: 80px;
                color: rgba(40, 40, 40, 0.797);
                background-color: var(--outline-color);
                border-radius: 50%;
                padding: 0% 22.5px;
            }
        }
    }
}

/* Adding New Activity */

.newActivityHero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    aspect-ratio: 16/4;
    background: url("images/newActivityHero.jpg");
    background-size: cover;
    background-position: center;

    text-align: center;

    & > h1 {
        font-size: 65px;
        font-weight: bold;
        line-height: 0px;
        color: var(--common-white);
        -webkit-text-stroke: 2px var(--border-brown);
    }
}

.newActivityPage h2 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    line-height: 0px;

    color: var(--common-white);
    background-color: #80A356;
    padding: 5% 0%;
}

.newActivityPage form {

    &>section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0px;

        &> :not(h2) {
            margin-bottom: 1.5rem;
            margin-left: 5%;
            margin-right: 5%;
        }

        &>label {
            font-size: 15px;
            margin-bottom: 0.5rem;
        }

        &>input,
        select,
        textarea {
            padding: 0.5%;
            font-size: 17.5px;
            border-radius: 10px;
            border: 0px;
        }
    }

    &>button {
        margin-bottom: 1.5rem;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2rem;
        padding: 0.5% 7.5%;

        font-size: 20px;
        background-color: var(--common-green);
        border: 0px;
        color: var(--common-white);
        text-decoration: none;
        border-radius: 10px;
    }
}


/* About Us Page */

.aboutUsPage > *:not(header) {
    border-bottom: #42522D 8px solid;
}

.aboutUsHero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    aspect-ratio: 16/4;
    background: url("images/aboutUsHero.jpg");
    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 7.5%;

    & > h1 {
        font-size: 65px;
        font-weight: bold;
        color: var(--common-white);
        -webkit-text-stroke: 2px var(--border-brown);
    }
}

.ourMission {
    background-color: #9AB479;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    column-gap: 15px;
    padding: 5%;

    & > img {
        order: 1;
        width: 90%;
    }

    & > div {
        color: var(--common-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > h2 {
            font-weight: 100;
            font-size: 40px;
        }
    }
}

.ourVision {
    background-color: #84A55B;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    column-gap: 15px;
    padding: 5%;

    & > img {
        width: 90%;
    }

    & > div {
        color: var(--common-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > h2 {
            font-weight: 100;
            font-size: 40px;
        }
    }
}

.meetOurTeam {
    text-align: center;

    & > h2 {
        font-size: 40px;
        font-weight: 200;
    }

    & > p {
        font-size: 20px;
        margin: 0% 10%;
    }

    & > .profileGrid {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 5% 5%;

        & > .profile {
            padding: 3%;
            & > p {
                font-size: 30px;
            }
        }
    }
}
.HistoryStuff .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2% 3.5%;
    width: fit-content;
    margin: 0 auto;
}
.HistoryStuff .back-button {
    align-self: flex-start;
    padding: 0.3% 0.7%;
    margin-bottom: 1em;
    font-size: 1rem;
    background-color: var(--common-green);
    border: 2px solid var(--border-brown);
    color: var(--common-white);
    text-decoration: none;
    border-radius: 9px;
}
.HistoryStuff .filter {
    padding: 0.3% 0.7%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-top: 1em;
    font-size: 1rem;
    background-color: var(--common-white);
    border: 2px solid var(--border-brown);
    color: black;
    text-decoration: none;
    border-radius: 9px;
    & > img {
        height: 0.8rem;
        margin-left: 0.3rem;
        margin-top: 2px;
    }
}
.HistoryStuff .filter-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.HistoryStuff .overlay-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}
.HistoryStuff .close-overlay {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.HistoryStuff .close-overlay:hover,
.close-overlay:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.HistoryStuff #filterForm label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

.HistoryStuff #filterForm input[type="radio"] {
    margin-right: 10px;
}

.HistoryStuff #filterForm button {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
}
.HistoryStuff li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--border-brown);
    margin-top: 5em;
    margin-bottom: 1em;
    & > .event-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 3px solid var(--border-brown);
        border-radius: 20px;
        padding: 1rem;
        padding-right: 30em;
        & > img {
            height: 70px;
            width: 70px;
            border-radius: 15px;
            margin-right: 1rem;
        }
        & > .event-details {
            font-size: large;
            font-weight: 400;
            margin-left: 1rem;
            text-align: left;
        }
    }
    & > .desc-line {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0;
        padding-right: 12em;
        & > img {
            height: 70px;
            width: 2px;
            margin-right: 1rem;
        }
        & > .event-description {
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }
    & > p {
        font-size: medium;
    }
}
/* Activity and Event History */
.HistoryStuff .navigation-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    & > a{
        & > img{
            height: 50px;
        }
    }
    & > h2{
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.HistoryStuff .Contact {
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: 40px;
}


@media screen and (max-width: 760px) {
    /* About Us Page */
    *{
        padding: 0;
    }
    header {
        width: 93.1vw;
        padding-right: 0;
    }

    .aboutUsHero > h1 {
        font-size: 80px;
    }

    .meetOurTeam {
        text-align: center;
    }

    .meetOurTeam>h2 {
        font-size: 50px;
    }

    .meetOurTeam>p {
        font-size: 30px;
        margin: 0% 7%;
    }

    :is(.ourVision, .ourMission) {
        background-color: #84A55B;
        display: grid;
        grid-template: 1fr/1fr;
        column-gap: 15px;
        padding: 5%;
    }

    :is(.ourVision, .ourMission)>img {
        width: 90%;
        order: 3;
        justify-self: center;
    }

    :is(.ourVision, .ourMission)>div {
        color: var(--common-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    :is(.ourVision, .ourMission)>div>h2 {
        font-weight: 100;
        font-size: 50px;
        order: 1;
        justify-self: center;
        margin-bottom: 0.5rem;
    }
   
    :is(.ourVision, .ourMission)>div>p {
        font-size: 25px;
        order: 2;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-self: center;
    }


    /* Home Page */
.benefits {
    display: flex;
    flex-direction: column;

    background-color: var(--common-green);

    & > img {
        width: 100%;
        order: 1
    }

    & > h2 {
        font-size: 45px;
    }

    & > ul > li {
        justify-self: center;
        font-size: 22.5px;
        margin-bottom: 20px;
        width: 90%;
    }

    & > ul > li:not(:last-child) {
        margin-bottom: 5vh;
    }
}

    .howItWorks {
        & > h2 {
            font-size: 70px;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }
    }
    .howItWorks .gridSteps {
        --border-seperation: 2px solid black;

        display: flex;
        flex-direction: column;

    & > section > h3 {
        font-size: 40px;
        margin-bottom: 2rem;
    }

    & section >h4 {
        font-size: 30px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    & > section:first-child {
        border-bottom: var(--border-seperation);
        border-right: 0px;
        border-left: 0px;
     }

    & > section:nth-child(2) {
        border-bottom: var(--border-seperation);
        border-top: var(--border-seperation);
        border-right: 0px;
        border-left: 0px;
    }

    & > section:nth-child(3) {
        border-bottom: var(--border-seperation);
        border-top: var(--border-seperation);
        border-right: 0px;
        border-left: 0px;
    }

    & > section:last-child {
        border-top: var(--border-seperation);
        border-right: 0px;
        border-left: 0px;
    }
    }

        .ourMotive {
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            &>div {
                margin-bottom: 2rem;
    
                &>h2 {
                    font-size: 50px;
                    text-align: center;
                }
    
                &>p {
                    text-indent: 0;
                    font-size: 20px;
                }
    
                &>a {
                    text-align: center;
                    align-self: center;
                    font-size: 30px;
                    padding: 2% 15%;
                }
            }
        }

    .contactUs>h2 {
        font-size: 50px;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }


    /* Single Pet Profile */

        .dataSection {
            margin-top: 125px;
            display: block;
            flex-direction: column;
            justify-items: center;
    
            &>.upcomingEvents, &>.recentActivity {
                min-width: 400px;
            }
    
            &>.graphs {
                display: flex;
                flex-direction: column;
    
                &>.graphObject {
                    padding-top: 20px;
                    padding-bottom: 125px;
                    margin-bottom: 2rem;
                    width: 88.5%;
                    height: 300px;
    
                    &>h3 {
                        font-size: 30px;
                    }
    
                }
            }
}

    .HistoryStuff .activityHistoryHeader {
        width: 93vw;
    }

    .HistoryStuff .main-content {
        width: 94vw;
        margin-left: 0;
        padding: 3%;
        align-items: center;
    }

    .HistoryStuff .back-button {
        padding: 0.3% 0.7%;
        font-size: 1.5rem;
    }
    .HistoryStuff .filter {
        font-size: 1.5rem;
    }
    .HistoryStuff li{
        & > .event-line {
            align-self: center;
            padding-right: 10em;
            font-size: larger;
            & > img {
                height: 50px;
                width: 50px;
            }
            & > .event-details {
                font-size: medium;
            }
        }
        & > .desc-line {
            font-size: medium;
            & > img {
                height: 60px;
                width: 2px;
            }
            & > .event-description {
                font-size: medium;
            }
        }
    }
    .HistoryStuff h2{
        font-size: 1.2rem;
    }
    .HistoryStuff h1 {
        margin: 0.5rem 0.5rem;
        font-size: 3.5rem;
    }
}